.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }
}

.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }
  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }
    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }
  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__title {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
  }

  &__button {
    @include page-grid;

    --columns: 1;

    margin-top: 40px;
    margin-bottom: 96px;

    @include on-tablet {
      --columns: 1;
    }

    @include on-desktop {
      --columns: 1;

      grid-column: 1 / 4;
    }

    &--view {
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 27px;
      color: #fff;
      background-color: #292929;
      border-radius: 8px;
      height: 56px;
      justify-content: center;
      align-items: center;
      grid-column: 1 / -1;
    }
    &--view:hover{
      color: #292929;
    }
  }
}

.category__bg {
  // margin-top: 96px;
  height: 200px;
  background-image: url(../images/Footer/bg-footer.png);
  background-size: cover;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    width: 100%;
    height: 460px;
  }
}
